{% extends "layout.html" %}
{% block content %}

	<div class="content" id="experiment-article-section-6-content">
		
		<br/>
		<b>Step 1: </b>Select the language.<br/>
		<b>Output: </b>Drop down to select size of corpus, algorithm and features will appear. <br/><br/>
		<b>Step 2: </b>Select corpus size.<br/><br/>
		<b>Step 3: </b>Select algorithm "CRF" or "HMM".<br/><br/>
		<b>Step 4: </b>Select feature "only lexicon", "only POS", "lexicon and POS".<br/>
		<b>Output: </b>Corresponding accuracy wil be shown.<br/><br/>

		<hr></hr></br/></br/></br/>
	
	</div>						

{% endblock content %}