{% extends "layout.html" %}
{% block content %}

    <div class="content" id="experiment-article-section-5-content">
       
        <br/>
        <b>1.</b> How is training model formed in CRF?<br/><br/>
        <b>2.</b> How is training model formed in TnT?<br/><br/>
        <b>3.</b> How is testing done in CRF?<br/><br/>
        <b>4.</b> How is testing done in TnT?<br/><br/>
        <b>5.</b> Which features are helpful for training a model for chunking?<br/><br/>
    
    </div>

{% endblock content %}